h1 {
    text-align: center; 
    font-size: 4rem;
    font-family: "Sofia", sans-serif;
    color: crimson;
}

.fade-in {
	-webkit-animation: fade-in 4s linear 1s both;
	        animation: fade-in 4s linear 1s both;
}
/* Animation Part 1: class declaration */

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/* Animation Part 2: keyframes */

.container {
    margin-top: 10px;
}
/* I've taken the style attribute from the HTML to the CSS. Makes the HTML cleaner */

.square-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  border: 3px solid;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;

  display: flex;               /* added for centered text */
  justify-content: center;     /* added for centered text */
  align-items: center;         /* added for centered text */
}

.flex-col {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 100%;
  justify-content: space-around !important;

}