h1 {
    text-align: center; 
    font-size: 4rem;
    font-family: "Sofia", sans-serif;
    color: crimson;
}

.fade-in {
	-webkit-animation: fade-in 4s linear 1s both;
	        animation: fade-in 4s linear 1s both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.container {
    margin-top: 10px;
}

.square-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  border: 3px solid;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;

  display: flex;               /* added for centered text */
  justify-content: center;     /* added for centered text */
  align-items: center;         /* added for centered text */
}

.flex-col {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 100%;
  justify-content: space-around !important;

}

.jumbotron {
  background-color: transparent !important;
  background: url(images/AdeJumbotron.png) center no-repeat;
  background-size: cover;
}

.devon {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.devon::before {  
    content: "";
    background: url(images/DevonCottageSquare.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.cornwall {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.cornwall::before {
  content: "";
  background: url(images/UglyHouseSquare.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.brighton {
  position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.brighton::before {
  content: "";
  background: url(images/HotelBrightonSquare.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}